@charset "UTF-8";
#back{
    width: 25%;
    margin: auto;
    margin-top: 100px;
	} 
	/*
#evu_id{
	width: 49%;
    transform: translate(50%, -30%);
    border: 1px solid #85c4b9;
    padding: 5px 1px 1px 0px;
}
#evu_pw{
	width: 49%;
    transform: translate(50%, -18%);
    border: 1px solid #85c4b9;
    padding: 3px 1px 1px 0px;
}*/

.loginbox input[type ="text"], .loginbox input[type="password"]{
	display: block;
	color:gray;
	border:1px solid lightgray;
	text-align: center;
	border-radius: 2px;
	font-size: 16px;
	padding : 13px 0;
	margin-bottom: 20px;
	height: 20px;
	font-family:blod;
	width:390px;
	margin: auto;
}

#btn{
	display: block;
	color:gray;
	border:1px solid lightgray;
	text-align: center;
	border-radius: 2px;
	font-size: 16px;
	padding : 20px 0;
	height: 20px;
	font-family:blod;
	width:390px;
	margin: auto;
	margin-top: 19px;
	line-height: 0px;
	cursor: pointer;
	background:#85c4b9;
}
#back>h3 {
    text-align: center;
    height: 50px;
    min-width: 100%;
    font-size: 30px;
    width: 400px;
}
