@charset "UTF-8";

#bbs{
   margin: 50px 0 100px auto;
   text-align: center;
}

#bbs table {
   width: 90%;
   height: 600px;
   margin: 0 auto;
   border: 1px solid silver;
   border-collapse: collapse;
   font-size: 14px;
}

#bbs table caption {
   font-size: 20px;
   font-weight: bold;
   margin-bottom: 10px;
}

#bbs table th {
   text-align: center;
   border-bottom: 1px solid silver;
   padding: 4px 10px;
   width: 60px;
}

#bbs table td {
   text-align: left;
   border-bottom: 1px solid silver;
   padding: 4px 10px;
}

.category-tr{
   height: 10%;
}


.button-td{
   text-align: center;
}

#forms{
	margin:-10px -42px;
	max-width: 1919px;
	min-width: 1919px;
}