@charset "UTF-8";
   
body{
	text-align: center;
	}

.title_p {
	font: 24px;
	font-weight: normal;
}

.date {
	font-size: 12px;
} 
  
.wrap {
	width: 90%;
	height: 100%;
	min-height: 100%;
	margin: 250px auto 0 auto;
	text-align: center;
}

.writer-div {
	margin: 100px 0 50px 0;
}

.writer-div p{
	font-size: 13px;
	font-weight: bold;
}


.pre-page {
	float: left;
	width: 50%;
}

.next-page {
	float: right;
	width: 50%;
}

.content-wrap {
	text-align:center;
	height: 100%;
	min-height: 100%;
}


.go-page p {
	font-size: 10px;
}

.go-page a {
	font-size: 13px;
	font-weight: bold;
	color: black;
	text-decoration: none;
}

.new-img {
	width: 300px;
	height: 200px;
}

.advice-contents {
	text-align: center;
	width: 50%;
	margin: 0 auto;
}

.contents {
	width: 810px;
	height: 500px;
	display: inline;
}

.recommend {
	text-align: center;
	margin: 10px
}

.recommend a{
	font-size: 15px;
	font-weight: bold;
}

.pre-view{
	width: auto;
	height: 80px;
	min-height: auto;
}

.content-div{
	text-align: left;
}

.title{
	font-size:18px; 
	text-decoration: none;
	color: black;
}

.contents{
	color: black;
	font-size:13px;
}